.avisosTitulo {
  font-size: 1.35rem;
  font-weight: 600;
  background-color: #f1f3f5;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.avisosTabela {
  border: 1px solid #dee2e6;
  border-radius: 4px;
}