.footer {
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #1a1a1a;
  text-align: center;
  font-size: 0.6rem;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  position: relative;
}

.text {
  font-weight: 500;
}

.version {
  font-style: italic;
  color: #555;
}
